body {
    display: flex ;
    justify-content: center;
    align-items: center;
    margin:0px;
    background: linear-gradient(to right, #240b36, #c314c3);
    }


div h1, h3 {
    font-family:Arial;
    color: black;
    padding:5px;
}

#terms {
    font-family: arial;
}

.white-box {
    padding-top: 50px;
    margin-top:100px;
    width: 450px;
    height: 500px;
    border-radius: 15px;
    background-color:white;
    text-align:Center;
}

.form {
    font-family: arial;
}

input[type=text]:hover,input[type=email]:hover, textarea:hover {
    box-shadow: 0 0 3px;
    background-color: rgb(243, 243, 241);
}

input[type=text],input[type=email], textarea {
    font-style: italic;
    background-color: rgb(226, 224, 224);
    width: 100%;
    padding: 10px;
    border-style: none;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 3px;
    resize: vertical;  
}

input[type=email] {
    margin-top: 5px;
}



div button {
    font-family: arial;
    border-radius:10px;
    height:35px;
    width:440px;
    background:#686de0;
    color:white;
    
}

.checkbox {
    font-family: arial;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 10px;  
    margin-top:10px;
}

.name {
    display:flex;
    justify-content: center;
    align-items:center;
}